<div class="container">
    <h4>About</h4>
    <p>Hello, my name is Malevych Yurii and I am the developer of this blog, I hope you like it. </p>
</div>
<div class="card" style="width: 18rem;">
    <img src="/public/images/e.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">In such a difficult time, our country needs maximum support, so here's a donation</p>
        <a href="https://savelife.in.ua/" class="card-link">Donation Link</a>
    </div>
</div>
<div class="p-3 ">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
        <li><a href="https://github.com/Webrax/blog">GitHub</a></li>
        <li><a href="https://dev-branch.com/">Developer company</a></li>
        <li><a href="https://www.facebook.com/devbranch">Facebook</a></li>
    </ol>
</div>
