{% extends'base.twig' %}

{% block body %}
<div class="mt-3">
    <h1>
        Dear users, glad to see you on my blog.
        It was developed using PHP. I used: Slim (micro framework), MySQL, Git, Bootstrap, Twig template, PHP-DI (Dependency Injection).</h1>
</div>
{% endblock %}